<footer class="footer-distributed">
    <div class="footer-left">
        <img src="./assets/logo.gif" style="height: 50%; width: 50%;">
    </div>

    <div class="footer-center">
        <div>
            <i class="bi bi-geo-alt"></i>
            <p><span>466 STO. ROSARIO ST., HERITAGE DISTRICT</span>BRGY. STO ROSARIO, ANGELES CITY PAMPANGA</p>
        </div>

        <div>
            <i class="bi bi-telephone"></i>
            <p>0996-271-1212</p>
        </div>

        <div>
            <i class="bi bi-envelope"></i>
            <p><a href="mailto:gkapampangan@gmail.com">gkapampangan&#64;gmail.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</footer>
