<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artists</title>
</head>
<body>
  <h1><b>ARTISTS</b></h1>
  <div class="grid-container">
    <div class="grid-item">
      <div class="container">
        <a href="./biocol/artist1.html">
          <img src="./assets/jojo.jpg" alt="Image 1" class="image">
          <div class="overlay">
            <div class="text">Jojo La Madrid</div>
          </div>
        </a>
      </div>
    </div>
    <div class="grid-item">
      <div class="container">
        <a href="./biocol/artist2.html">
          <img src="https://images.unsplash.com/photo-1584598788860-2695a3a6c874?q=80&w=1994&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 2" class="image">
          <div class="overlay">
            <div class="text">Name</div>
          </div>
        </a>
      </div>
    </div>
    <div class="grid-item">
      <div class="container">
        <a href="./biocol/artist3.html">
          <img src="https://images.unsplash.com/photo-1614107070261-2aa1304618f6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 3" class="image">
          <div class="overlay">
            <div class="text">Name</div>
          </div>
        </a>
      </div>
    </div>
    <div class="grid-item">
      <div class="container">
        <a href="./biocol/artist4.html">
          <img src="https://images.unsplash.com/photo-1573088593782-9bd889c8ad3d?q=80&w=2024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 4" class="image">
          <div class="overlay">
            <div class="text">Name</div>
          </div>
        </a>
      </div>
    </div>
    <div class="grid-item">
      <div class="container">
        <a href="./biocol/artist5.html">
          <img src="https://images.unsplash.com/photo-1611042553365-9b101441c135?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 5" class="image">
          <div class="overlay">
            <div class="text">Name</div>
          </div>
        </a>
      </div>
    </div>
    <div class="grid-item">
      <div class="container">
        <a href="./biocol/artist6.html">
          <img src="https://images.unsplash.com/photo-1611244420030-b22f359eee31?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 6" class="image">
          <div class="overlay">
            <div class="text">Name</div>
          </div>
        </a>
      </div>
    </div>
    <div class="grid-item">
      <div class="container">
        <a href="./biocol/artist7.html">
          <img src="https://images.unsplash.com/photo-1501999054620-be9719bd7e64?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 7" class="image">
          <div class="overlay">
            <div class="text">Name</div>
          </div>
        </a>
      </div>
    </div>
    <div class="grid-item">
      <div class="container">
        <a href="./biocol/artist8.html">
          <img src="https://images.unsplash.com/photo-1493321384838-70c5a85ba487?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 8" class="image">
          <div class="overlay">
            <div class="text">Name</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
</html>