<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Headers - 15</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/reset.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="navbar.component.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a routerLink="home" routerLinkActive="active" class="brand">GAMAT KAPAMPANGAN</a>
        <nav class="nav">
          <ul class="nav__wrapper">
            <li class="nav__item"><a routerLink="/artists" routerLinkActive="active">Artists</a></li>
            <li class="nav__item"><a routerLink="/events" routerLinkActive="active">Events</a></li>
            <li class="nav__item"><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li class="nav__item"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <script src="js/header-15.js"></script>
  </body>
</html>
