<form class="max-w-lg mx-auto bg-white p-8 mt-2 mb-2 rounded-lg shadow-lg" [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <h2 class="text-2xl font-bold text-center mb-6 text-gray-900">Contact Us</h2>
    <div class="space-y-4">
      <div class="relative">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Your Name" formControlName="name" required>
        </mat-form-field>
      </div>
      <div class="relative">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Your Email" formControlName="email" required>
        </mat-form-field>
      </div>
      <div class="relative">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Message</mat-label>
          <textarea matInput rows="4" placeholder="Your Message" formControlName="message" required></textarea>
        </mat-form-field>
      </div>
      <div class="relative text-center">
        <button class="w-full text-white bg-indigo-600 border-0 py-3 px-6 focus:outline-none hover:bg-indigo-700 rounded-lg text-lg" type="submit">Submit</button>
      </div>
    </div>
  </form>