<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Center Image in Section</title>
</head>
<body>
<section>
    <img src="./assets/logo.gif" alt="Logo">
</section>

<section class="display text-center">
    <div class="flex flex-col w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black">Master Cleanse Reliac Heirloom</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
        <br>
        <hr class="solid">
    </div>
</section>

<section class="text-gray-400 body-font bg-white h-screen flex justify-center items-center">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap justify-center w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-5xl text-4xl font-medium title-font mb-2 text-black text-center">DISPLAY</h1>
        </div>
      </div>
      <div class="flex flex-wrap -m-4 justify-center">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
            <h3 class="tracking-widest text-black-400 text-xs font-medium title-font text-black">SUBTITLE</h3>
            <h2 class="text-lg text-black font-medium title-font mb-4">Chichen Itza</h2>
            <p class="leading-relaxed text-base text-black">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
            <h3 class="tracking-widest text-black-400 text-xs font-medium title-font text-black">SUBTITLE</h3>
            <h2 class="text-lg text-black font-medium title-font mb-4">Chichen Itza</h2>
            <p class="leading-relaxed text-base text-black">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
            <h3 class="tracking-widest text-black-400 text-xs font-medium title-font text-black">SUBTITLE</h3>
            <h2 class="text-lg text-black font-medium title-font mb-4">Chichen Itza</h2>
            <p class="leading-relaxed text-base text-black">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
            <h3 class="tracking-widest text-black-400 text-xs font-medium title-font text-black">SUBTITLE</h3>
            <h2 class="text-lg text-black font-medium title-font mb-4">Chichen Itza</h2>
            <p class="leading-relaxed text-base text-black">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-400 bg-white body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h1 class="text-black text-3xl title-font font-medium mb-1">The Catcher in the Rye</h1>
          <h2 class="text-black text-xl title-font font-medium mb-1">The Catcher in the Rye</h2>
          <p class="leading-relaxed text-black">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean shorts keytar banjo tattooed umami cardigan.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-400 bg-white body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0"> 
          <h1 class="text-left text-black text-3xl title-font font-medium mb-4">Animated Night Hill Illustrations</h1>
          <p class="text-left leading-relaxed mb-4 text-black">Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia microdosing tilde DIY. XOXO fam iligo juiceramps cornhole raw denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean.</p>
        </div>
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
      </div>
    </div>
  </section>

  <section class="text-gray-400 bg-white body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black">Master Cleanse Reliac Heirloom</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-black">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep.</p>
      </div>
      <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0 items-end sm:space-x-4 sm:space-y-0 space-y-4">
        <div class="relative sm:mb-0 flex-grow w-full">
          <label for="full-name" class="leading-7 text-sm text-gray-400">Full Name</label>
          <input type="text" id="full-name" name="full-name" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative sm:mb-0 flex-grow w-full">
          <label for="email" class="leading-7 text-sm text-gray-400">Email</label>
          <input type="email" id="email" name="email" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-900 focus:bg-transparent text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <button class="text-white bg-black border-0 py-2 px-8 focus:outline-none hover:bg-black rounded text-lg">Submit</button>
      </div>
    </div>
  </section>
  

</body>
</html>
